<nav>
  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="#"><i class="fas fa-book-open"></i> About</a>
      <a href="#">Resources</a>
      <a href="#">Social</a>
      <a href="#">Contact</a>
    </div>
  </div>
</nav>




<div class="container-fluid fixed-top">
  <span class="btn btn-outline-dark float-start" style="font-size:2rem;cursor:pointer" onclick="openNav()"><i class="fas fa-bars"></i></span>
  <span class="float-start"><h4 class="display-4">{{ $.Site.Title }}</h4></span>
  <span class="float-start">{{- partial "dm_button.html" . -}}</span>
</div>
