<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        <script src="/js/main.js"></script>
        <script type="text/javascript">
        function openNav() {
          document.getElementById("myNav").style.width = "100%";
        }

        function closeNav() {
          document.getElementById("myNav").style.width = "0%";
        }
        </script>
        <script src="https://kit.fontawesome.com/3f49199352.js" crossorigin="anonymous"></script>
    </body>
</html>
